$MainFont: 'Roboto', sans-serif;
$description-color: #5d6367;

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}

.clearfix::after {
		content: "";
		display: table;
		clear: both;
}

.section--with-border {
    border-bottom: 2px solid #eeeeee;
}

.container {
	width: 1160px;
	margin: 0 auto;
}


.main-header {
    margin: 0;
	background-color: #eeeeee;

	.container {
	display: flex;
	justify-content: space-between;

		.main-header__navigation {
            display: flex;
            margin-top: 78px;
			list-style: none;

			> .item {
				margin-left: 47px;

				.item__link {
                    line-height: 30px;
                    font-weight: 600;
					text-decoration: none;
                    text-transform: uppercase;
					color: #3f3f3f;
				}

				.item__link:hover {
					color: #fb565a;
				}

				.item__link:focus {
					color: #a6a6a6;
				}

				.item__link:active {
					border-bottom: 2px solid #fb565a;
					padding-bottom: 12px;
				}
			}
		}

		.main-header__shopping-cart {
            position: relative;
			margin-top: 78px;
            line-height: 30px;
            font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			color: #3f3f3f;

			&::before {
                position: absolute;
                top: 1px;
                right: 100px;
				display: inline-block;
				width: 15px;
				height: 15px;
				content: url(../img/cart-icon.svg);
				color: #a6a6a6;
			}
        }

        .main-header__shopping-cart:hover {
            color: #fb565a;
        }

        .main-header__shopping-cart:focus {
            color: #a6a6a6;
        }

        .main-header__shopping-cart:active {
            padding-bottom: 12px;
            color: #a6a6a6;
            border-bottom: 2px solid #fb565a;
        }
    }
}

.main-promo {
	background-color: #eeeeee;

	.main-promo__info {
        float: left;
        width: 380px;
		height: 270px;
		margin-top: 71px;

		.info__title {
            margin: 0;
            margin-bottom: 25px;
			padding: 0;
			font-size: 55px;
            line-height: 55px;
            font-weight: 900;
		}

		.info__description {
            margin-bottom: 40px;
			line-height: 24px;
			color: #5d6367;
		}

		.info__more {
			width: 240px;
			height: 50px;
            font-size: 16px;
			line-height: 16px;
            font-weight: 500;
			text-transform: uppercase;
            color: #ffffff;
			background-color: #fb565a;
            border-radius: 5px;
		}

		.info__more:hover {
		    background-color: #e74246;
		}

        .info__more:active {
            color: #e06366;
            background-color: #d7373b;
        }
	}
}

.container-narrow {
    margin: 0 auto;
	width: 1100px;
}

.services {
	margin-top: 78px;
	margin-bottom: 40px;
    padding-bottom: 80px;
    border-bottom: 2px solid #eeeeee;

	.services__list {
        display: flex;
        justify-content: space-between;
        padding: 0;
		list-style: none;

		.item__title {
            font-size: 24px;
			line-height: 30px;
			text-transform: uppercase;
		}

		.item__description {
            line-height: 24px;
            font-weight: 100;
			color: #283136;
		}

		.item__order--red,
        .item__order--green,
        .item__order--yellow  {
			padding: 15px 35px;
            font-size: 16px;
            line-height: 18px;
            font-weight: 500;
			text-transform: uppercase;
			color: white;
            border-radius: 5px;
		}

        .item__order--red {
            background-color: #fb565a;
        }

        .item__order--red:hover {
            background-color: #e74246;

        }

        .item__order--red:active {
            color: #e26c6e;
            background-color: #d7373b;
        }


		.item__order--green {
			background-color: #00ca74;
		}

        .item__order--green:hover {
            background-color: #00bc6c;
        }

        .item__order--green:active {
            color: #4dc491;
            background-color: #00aa62;
        }

		.item__order--yellow {
			background-color: #efc84a;
		}

        .item__order--yellow:hover {
            background-color: #eab534;
        }

        .item__order--yellow:active {
            color: #edc265;
            background-color: #e5a722;
        }
	}

}

.studio-description {
    margin-bottom: 0;
    padding-bottom: 80px;
	border-bottom: 2px solid #eeeeee;

	.studio-description__info {
		display: inline-block;

		h1 {
            margin-bottom: 33px;
			font-size: 45px;
			line-height: 45px;
			font-weight: 100;
		}

		.info__principles {
            margin-bottom: 45px;
            line-height: 24px;
            font-weight: 100;
			color: #8c9194;
		}

		.development-orders {
            margin-bottom: 35px;
            font-size: 16px;
			line-height: 24px;
			text-transform: uppercase;
		}

		.development-orders__list {
				list-style: none;

				> .item {
                    position: relative;
					padding-bottom: 35px;
                    line-height: 24px;
					font-weight: 100;
					color: #283136;

                    &:before {
                        position: absolute;
                        top: 11px;
                        left: -35px;
                        display: block;
                        width: 25px;
                        height: 2px;
                        content: "";
                        background-color: #fb565a;
                    }
				}
			}
	}
}

.studio-description__indicatiors {
	float: right;

	.indicators__title {
		text-align: center;
		text-transform: uppercase;
	}

	.indicators__list {
		display: flex;
		justify-content: space-between;
		list-style: none;

		> .item {

			.item__percent {
			    margin-bottom: 22px;
				font-size: 45px;
				line-height: 45px;

                sup {
                    font-size: 22px;
                }
			}
		}
	}
}

.brand-partners {
    margin-bottom: 78px;
    padding-bottom: 0;
	border-bottom: 2px solid #eeeeee;

	.brand-partners__list {
		display: flex;
        padding: 0;
		justify-content: space-between;
		list-style: none;

        .item {
            position: relative;
        }


	}

	.brand-partners__list li:not(:first-child) {
	    &:after {
            position: absolute;
            bottom: 25%;
            left: -1px;
            display: block;
            width: 2px;
            height: 50%;
            content: '';
            background-color: #eeeeee;
        }
	}

		.item > .brand {
			opacity: 0.2;
		}

        .item > .brand:hover {
            opacity: 1;
        }

        .item > .brand:active {
            opacity: 0.1;
        }   /*короче, представим, что это ссылки*/
}

.map-location {
    position: relative;
    z-index: 1;

    .map-location__map-image {
        width: 100%;
    }
}

.map-location__map-marker {
    position: absolute;
    right: 446px;
    bottom: 160px;
    z-index: 2;
}

.location__address {
    position: absolute;
    top: 53px;
    left: 138px;
    z-index: 2;
    box-sizing: border-box;
    width: 319px;
    height: 308px;
    padding: 50px;
    background-color: #ffffff;

    .address__name {
        margin: 0;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;
    }

    > p {
        line-height: 18px;
        color: #666666;
    }

    .full-address__write-us {
        margin-top: 19px;
        padding: 15px 40px;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #fb565a;
        border-radius: 5px;
    }
}

.main-footer {
    margin-top: 68px;
    display: flex;

    .social {
        margin: 0;
        margin-right: 0;
        padding: 0;
        display: flex;
        list-style: none;

        .social-item {
            margin-left: 11px;

            .social-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 80px;
                background: #e1e1e1;
                border-radius: 50%;
            }

            .social-link:hover {
                background-color: #e74246;
            }

            .social-link:active {
                color: #e37376;
                background-color: #d7373b;
            }
        }
    }

    .call-to-action {
        margin: 0 auto;
        width: 550px;

        .footer-title {
            margin: 0;
            font-size: 36px;
            line-height: 36px;
        }

        .title__description {
            line-height: 22px;
            color: #444444;
        }
    }
}
